{% extends 'gymadmin/base.html'%}
{% block content %}
<!-- Content Row -->
    <div class="container">
        <div class="row">
          <div class=" col md-12">
            <div class=" jumbotron p-3">
              <h2>Manage schedule<hr><button type="button" class="btn btn-success  pull-right " data-toggle="modal"
                  data-target="#myModal">Add New schedule</button></h2>

        
              <!--
              <div class="alert alert-success alert-dismissable" role="alert">

                <button type="button" class="close" data-dismiss="alert" aria-label="close">

                  <span aria-hidden="true">&times;</span>

                </button>
                -->

              </div>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">S.N.</th>
                    <th scope="col">GYM Type</th>
                    <th scope="col">Shift</th>
                    <th scope="col">Time</th>
                    <th scope="col">Trainer</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for now in datas %}
                  <tr>
                    <th> {{ forloop.counter }}</th>
                    <td>{{now.type}}</td>
                    <td>{{now.shift}}</td>
                    <td>{{now.time}}</td>
                    <th>{{now.trainer}}</th>
                    <td>
                      <a href="#" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{now.id}}">Edit</a>

                      <a href="/GYM/delete/{{ now.id }}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                    </td>

                  </tr>



                  <div id="modaledit{{now.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Updated Information</h4>
                        </div>
                        <div class="modal-body">
                          
                          <form action="/GYM/update/{{now.id}}" method="POST">
                            {% csrf_token %}

                           

                            <div class="form-group">
                              <label>Type:</label>
                              <input type="hidden" name="type" value="type">
                              <input type="text" class="form-control" name="type" required="1" value="{{now.type}}">
                            </div>
                            <div class="form-group">
                              <label>Shift:</label>
                              <input type="text" class="form-control" name="shift" required="1" value="{{now.shift}}">
                            </div>
                            <div class="form-group">
                              <label>Time:</label>
                              <input type="text" class="form-control" name="time" required="1" value="{{now.time}}">
                            </div>
                            

                            <div class="form-group">
                              <label>Trainer:</label>
                              <select name="trainer">
                                <option selected="selected" >{{now.trainer}}</option>
                                {% for i in trainers %}
                                    <option value="{{i.pk}}" >{{i.name}}</option>
                                {% endfor %}
                                </select>
                              
              
                            </div>
                            <div class="form-group">
                              <button class="btn btn-primary" type="submit">Updated</button>
                            </div>
                           
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">


                <div class="modal-content">


                  <div class="modal-header">

                    <h4 class="modal-title">Add schedule</h4>


                  </div>


                  <div class="modal-body">
                    <form method="POST" action="/GYM/insert/">
                      {% csrf_token %}
                      <table class="table">
                
                        {{ form.as_table }}
                
                        <tr>
                            <td><button type="submit" class="btn btn-primary">Submit</button></td>
                        </tr>
                    </table>
                    </form>

<!-- 
                    <form action="/GYM/insert/" method="POST">
                      {% csrf_token %}

                      <div class="form-group">
                        <label>Type:</label>
                        <input type="text" class="form-control" name="type" required="1">
                      </div>

                      <div class="form-group">
                        <label>Shift:</label>
                        <input type="text" class="form-control" name="shift" required="1">
                      </div>

                      <div class="form-group">
                        <label>Time:</label>
                        <input type="text" class="form-control" name="time" required="1">
                      </div>
                      
                      <div class="form-group">
                        <label>Trainer:</label>
                        <select name="trainer">
                          <option selected="selected" >Objects on below:</option>
                          {% for now in objs %}
                              <option value="now" >{{now.name}}</option>
                          {% endfor %}
                          </select>
                      </div>
                      
                      <div class="form-group">
                        <button class="btn btn-primary" type="submit">Insert Data</button>
                      </div>


                    </form>
                    -->


                  </div>


                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    {% endblock %}