asgiref==3.2.7
click==7.1.1
Django==2.2.10
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysqlclient==1.4.6
Pillow==7.1.2
Pygments==2.7.4
PyJWT==1.7.1
pytz==2019.3
sqlparse==0.3.1
Werkzeug==1.0.1
