{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>{{data.gym.name}}</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

  <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

  <link rel="stylesheet" href="{% static 'css/aos.css' %}">
  <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">

        <div class="d-flex align-items-center">
          <div class="site-logo"><a href="#">{{gym.name}}</a></div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/" class="nav-link">Home</a></li>
                <li><a href="#schedule-section" class="nav-link">Schedule</a></li>
                <li><a href="#trainer-section" class="nav-link">Trainer</a></li>
                
                <li><a href="/GYM/gymadmin/{{data.id}}" class="nav-link">Admin</a></li>
              

                {% if user.is_authenticated %}

                <li><a href="/logout" class="nav-link">Logout</a></li>
                <li><a href="" class="nav-link">Hello {{user.username}}</a></li>

                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
    </div>
    </header>
    <a id="bgndVideo" class="player"
      data-property="{videoURL:'http://youtu.be/7lutvYTZk8E',showYTLogo:false, showAnnotations: false, showControls: false, cc_load_policy: false, containment:'#home-section',autoPlay:true, mute:true, startAt:10, stopAt: 36, opacity:1}">
    </a>
    <div class="intro-section" id="home-section" style="background-color: #ccc;">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8 mx-auto text-center" data-aos="fade-up">    
            <h1>Welcome To {{gym.name}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section section-1">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="">
              <div class="icon-wrap"><span class="flaticon-muscle text-primary"></span></div>
              <div class="counter-text">
                <strong>2, </strong>
                <span>Members</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-wrap"><span class="flaticon-stationary-bike text-primary"></span></div>
              <div class="counter-text">
                <strong>210</strong>
                <span>Daily Visitors </span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start mb-5" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-wrap"><span class="flaticon-banana text-primary"></span></div>
              <div class="counter-text">
                <strong>887</strong>
                <span>Health Program</span>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="counter d-flex align-items-start" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-wrap"><span class="flaticon-heart text-primary"></span></div>
              <div class="counter-text">
                <strong>1,920</strong>
                <span>Heart Beat</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 mr-auto mb-5 align-self-center">

            <div class="mb-5">
              <h2 class="section-title">{{gym_content.title}}</h2>
              <p class="mb-5">{{gym_content.about}}</p>
              <p>
                <a  class="btn btn-primary smoothscroll py-3 px-4" data-target="#comment">Get In Touch</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="image-absolute-box">
              <img src="{{gym_content.image.url}}" alt="Image" class="img-fluid img-shadow">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section section-2" id="schedule-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5">
            <h2 class="section-title">Schedule</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
                  {% block body %}
                  <div class="container">
                      <div class="row">
                          <div class=" col md-12">
                              <div class=" jumbotron p-3">
                                  <table class="table table-light">
                                      <thead class="table-dark">
                                          <tr>
                                            <th scope="col">S.N.</th>
                                              <th scope="col">Type</th>
                                              <th scope="col">Shift</th>
                                              <th scope="col">Time</th>
                                              <th scope="col"> Trainer</th>
                                              <th scope="col">Action</th>
                                          </tr>
                                      </thead>
                                      <tbody>                         
                                          {% for now in datas %}
                                          <tr>
                                            <td>{{ forloop.counter }}</td>
                                              <td>{{now.type}}</td>
                                              <td>{{now.shift}}</td>
                                              <td>{{now.time}}</td>
                                              <td>{{now.trainer}}</td>
                                              <th>
                                                {% if user.is_authenticated %}
                                                <a href="/GYM/enroll/{{now.id}}">Join Now</a>
                                                {% else %}
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                                  Are you intrested to Join?
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                  <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                      <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">For registration of GYM</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                          <span aria-hidden="true">&times;</span>
                                                        </button>
                                                      </div>
                                                      <div class="modal-body">
                                                        Sign In if you have an account 
                                                        or Sign Up
                                                      </div>
                                                      <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"  ><a href="/login"> Sign In</a></button>
                                                        <button type="button" class="btn btn-secondary" > <a href="/signup">Sign Up</a></button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                  {% endif %}                                         
                                              </th>
                                          </tr>
                                          {% endfor %}
                                        
                                      </tbody>
                                  </table>
                              </div>    
                          </div>
                      </div>
                  </div>
                  {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section" id="trainer-section">
      <div class="container">
        <div class="col-lg-6 mb-5">
          <h2 class="section-title">Trainers</h2>
        </div>
        <div class="row">
          {% for i in ob %}

          <div class="col-md-3 text-center mb-4">
            
            <div class="border p-4 text-with-icon">
              <span class="flaticon-weightlifting icon display-4 mb-4 d-block text-primary"></span>
              <!--  <img src="{{info.images}}" alt="image file"> -->
              
            <img src="{{i.pic}}" height="200px" alt="Image" >
            <h5>Name:{{i.name}}</h5>
            <h6>Phone: {{i.phone_number}}</h6>
            <h6>{{i.about}}</h6>
            <p class="mb-4 opacity-7"></p>
            <p></p>
            </div>
          </div>
          {% endfor %}  
      </div>
    </div>
</div>
<div id="#comment" class="modal-content">


  <div class="modal-header">

    <h4 class="modal-title">Comment Section</h4>


  </div>
<div class="modal-body">
  <form action="/GYM/index/{{gym.id}}/" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      <tr>
        <th>
          <label for="id_name">Name:</label>
        </th>
        <td><input type="text" name="name" value="{{user}}" maxlength="20" 
        required id="id_name">
      </td>
    </tr>
        <tr>
          <th
          ><label for="id_email">Email:</label>
        </th>
        <td>
          <input type="email" name="email" value="{{user.userinformation.email}}" maxlength="254" required id="id_email">
        </td>
      </tr>
        <tr>
          <th>
            <label for="id_message">Message:</label>
          </th>
          <td>
            <textarea name="message" cols="40" rows="10" required id="id_message">
            </textarea>
      </td>
    </tr>
  <div class="form-group">
      <button class="btn btn-primary" type="submit">Sumbit</button>
  </div>
</form>
</div>
{% for i in user_comment %}
<div class="container p-3 my-3 border">
  <h4>{{i.user}}</h4>
  <p>{{i.message}}</p>
</div>
{% endfor %}
</div>
{% include 'App/footer.html' %}
</div>





 
  <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>




  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>