
<div class="site-section" id="trainer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mb-5">
          <h2 class="section-title">Trainers</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus distinctio ex. Natus totam
            voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias
            blanditiis consequuntur
            sunt nisi.</p>
        </div>
      </div>
      <div class="row large-gutters">
        <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-5">
          <h3>James Holmes</h3>
          <p class="mb-4 opacity-7">Aerobatics Trainer</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil repellat ipsam sequi iure rerum
            voluptatem, dignissimos dolorem porro aliquid veritatis!</p>
        </div>
        <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0 mt-5">
          <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid mb-5">
          <h3>Kelly Green</h3>
          <p class="mb-4 opacity-7">Aerobatics Trainer</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil repellat ipsam sequi iure rerum
            voluptatem,
            dignissimos dolorem porro aliquid veritatis!</p>
        </div>
        <div class="col-md-6 person col-lg-4 mb-4 mb-lg-0">
          <img src="{% static 'images/person_3.jpg' %}" alt="Image" class="img-fluid mb-5">
          <h3>Ben Smith</h3>
          <p class="mb-4 opacity-7">Aerobatics Trainer</p>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil repellat ipsam sequi iure rerum
            voluptatem,
            dignissimos dolorem porro aliquid veritatis!</p>
        </div>
      </div>
    </div>
  </div>


  <div class="site-section bg-dark" id="contact-section">
    <div class="container">

      <div class="row justify-content-center">
        <div class="col-md-7">



          <h2 class="section-title mb-3">Contact Us</h2>
          <p class="mb-5">Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam
            temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>

          <form method="post" data-aos="fade">
            <div class="form-group row">
              <div class="col-md-6 mb-3 mb-lg-0">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col-md-6">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <textarea class="form-control" id="" cols="30" rows="10"
                  placeholder="Write your message here."></textarea>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-6">

                <input type="submit" class="btn btn-primary py-3 px-5 btn-block" value="Send Message">
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

